requests==2.9.1
bottle==0.12.13
gevent==1.2.1

numpy==1.12.1
opencv-python==3.2.0.7
matplotlib==2.0.0
Pillow==4.1.0

cognitive-face==1.2.5
dlib==19.4.0

h5py==2.7.0
tensorflow==1.1.0rc1
tensorflow-gpu==1.1.0rc1
Keras==2.0.2

PyAudio==0.2.11

plotly==2.0.8
